/**Header**/
header {
  box-shadow: 0 0 8px 8px rgba(235, 179, 58, 1) inset;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.changeimg:hover {
background-image: url(img/individualfish1);
background-image: url(img/swirl.png);
box-shadow: 0 0 8px 8px rgba(235, 179, 58, 1) inset;
}


.container {
  display: inline-block;
  float: left;
  background-color: rgba(235, 179, 58, 1);
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #395070;
  width: 200px;
  height: 80px;
  margin: 20px;
  padding: 20px;
  z-index: 2;
  border-radius: 90%;
  -webkit-box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
  -moz-box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
  box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
}


.fish {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  z-index: -1;

}


figure {
  background-color: rgba(235, 179, 58, 0.20);
  box-shadow: 0 0 8px 8px rgba(235, 179, 58, 1) inset;
  margin-right: 20px;
  display: inline;
  float: left;
  width: 870px;
  border-radius: 5%;
}

.merch {
  margin: 20px;
  -webkit-box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
  -moz-box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
  box-shadow: -9px -16px 9px 1px rgba(0,0,0,0.63);
}

figcaption {
  float: right;
  width: 450px;
  height: 200px;
  margin-top: 50px;
  margin-right: 50px;

}

#familyphotocap {
  float: right;
  width: 350px;
  height: 200px;
  margin-top: 30px;
  margin-right: 50px;
}

#familyphotohead {
  margin-top: 0px;
}

.storeinfo {
text-indent: 35px;
}
#storeinfohour{
  text-indent: 35px;

}


