/**Header**/
body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

header {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  display: inline-block;
  width: 200px;
  margin-top: 30px;
  margin-left: 50px
}

/**.fishhead {
  float: right;
}**/
.fishhead {
  display: inline-block;
  float: right;
  width: 660px;
  margin-left: 5px;
  height: 200px;
  z-index: 5;
}

#headonly {
  float: right;
  z-index: 10;
}


#jawonly {

  float: right;
  z-index: 8;


}

#fish1 {
  float: center;

}

#headerp {
  /**display: inline-block;**/
  width: 200px;
}



figure {
  float: left;
  width: 700px;
}
figcaption {
  width: 320px;
  margin: 0px;
}
aside {
width: 250px;
float: right;
}
.storeinfo {
text-indent: 35px;
}
#storeinfohour{
  text-indent: 35px;

}


